.lightred {
  background-color: #ff595e;
}
.orange {
  background-color: #ff924c;
}

.yellow {
  background-color: #ffca3a;
}

.lightgreen {
  background-color: #c5ca30;
}
.green {
  background-color: #8ac926;
}

.darkgreen {
  background-color: #52a675;
}
.blue {
  background-color: #1982c4;
}
.darkblue {
  background-color: #4267ac;
}

/*  #6a4c93,
  #b5a6c9,*/
